 
.container {
  margin: 25px;
  padding-top: 20px;
}

.container > mat-card {
  margin-bottom: 16px;
  align-items: center;
}

.title_center {
  align-items: center;
}

.main-div{
  justify-content: center;
  align-items: center;
  text-align: center;
}
