<!-- <mat-toolbar color="primary"> Book Store </mat-toolbar> -->

<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="50%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"><img class="image" matListItemAvatar src="{{element.image}}" alt="Photo of a Shiba Inu"> </td>
        </ng-container>
      
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- <div fxLayout="50%">
    <p>Total: {{ getTotal() | currency:'USD' }}</p>
  </div> -->
      
</div>


<!-- <div *ngIf="items.length === 0"> Your cart is empty</div> -->