.password-rules .mat-divider {
    position: unset !important;
}
.container{
    padding-top: 20px;
}

.image {
    width: 250px;
    height: 300px;
    margin: 25px;
    align-content: center;
}


  